.c1{
    background-color: lightcoral;
    font-family: Verdana,'DejaVu Sans',sans-serif;



}

#c2{

    color:blue;
    font-size: 36px;

}

#c4{

background-color: lightgreen;
font-size: 24px;
font-weight: bold;
}
.c3{
font-size: 24px;


}